<template>
  <div id="app">
    <b-container class="bv-example-row">
    <b-row>
        <b-col v-if="regions.length > 0">

          <b-form-select id="regions_dropdown"
          @input="onDropDownChange"  v-model="selectedRegion" :options="regions" class="mb-3">
          </b-form-select>
          
        </b-col>
        <b-col style="padding-right: 45px;" v-if="areas.length > 0">
          <b-form-select id="areas_dropdown"
          @input="onDropDownChange" 
           v-model="selectedArea" :options="areas" class="mb-3">
          </b-form-select>
        </b-col>
    </b-row>
    <b-row >
      <b-col >
        <div v-if="noAccomm != 0">
          <div style="text-align: left;"> <strong>Please select a page number</strong></div>
          <b-form-select id="accomm_pagination_dropdown"
            @input="onPageChange"
            v-model="selectedPage" :options="pagination" class="mb-3">
          </b-form-select>
        </div>
      </b-col>
      <b-col style="padding-right: 45px;">
        <br/>
          <b-button  v-if="loading == false" style="width:100%" @click="reset">Reset</b-button>
        </b-col>
    </b-row>
       <div v-if="loading == true" class="lds-ripple"><div></div><div></div></div>
     <b-row>
        <b-col style="padding-right: 45px;">
          <b-alert v-if="noAccomm == 0 && loading == false" style="width:100%; text-align:left;" show>No Accomodations available.</b-alert>
         </b-col>
    </b-row>
    <b-row id="accommdations">
      <b-col v-bind:key="accomm.productId" v-for="accomm in accomms" v-bind:value="accomm.productId"  cols="4">
          <b-card v-bind:title="accomm.productName"
            v-bind:img-src="accomm.productImage"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem; "
            class="mb-2">
            <hr/>
          <p class="card-text">
            {{accomm.addresses[0].address_line}}, 
            <br/>
            {{accomm.addresses[0].city}} {{accomm.addresses[0].state}} {{accomm.addresses[0].postcode}}
          </p>
        </b-card>
              
      </b-col>
    </b-row>
  </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'app',
  data () {
    return {
      regions: [],
      areas: [],
      accomms: [],
      selectedRegion: null,
      selectedArea: null,
      noAccomm: 0,
      loading: true,
      pagination: [],
      selectedPage: 1
    }
  },
  mounted() {
    // load all data

    this.loadData()
  },
  methods: {
        // update accomodations according to changes
        onDropDownChange() {
          this.noAccomm = 0;
          this.onPageChange() 
        },
        onPageChange() {
          this.loading = true;
          this.accomms = [];
          axios({
              method: "GET",
              "url": "http://localhost:8000/accommodations",
              params: {
                rg: this.selectedRegion,
                ar: this.selectedArea,
                pge: this.selectedPage
              }
          }).then(result => {
            console.log(result.data)
              this.accomms = result.data.products;
              this.noAccomm = result.data.numberOfResults
              this.loading = false;
              if (result.data.numberOfResults > 0) {
                let pages = [];
                for (let i = 1; i <= result.data.numberOfResults/12; i++) {
                    pages.push(i);
                }
                this.pagination = pages
              }
              console.log('pagination', this.pagination)
          }, error => {
              console.error(error);
          });
        },
        loadData() {
          // load regions
          axios({ method: "GET", "url": "http://localhost:8000/regions" }).then(result => {
            let options = [{ value: null, text: 'Please select a region', disabled: true  }];
            result.data.forEach(function (item, key) {
              options.push({ value: item.Code, text: item.Name});
            });
            
            this.regions = options;

          }, error => {
              console.error(error);
          });
        
        // load areas
          axios({ method: "GET", "url": "http://localhost:8000/areas" }).then(result => {
            let options = [{ value: null, text: 'Please select an area', disabled: true  }];
            result.data.forEach(function (item, key) {
              options.push({ value: item.Code, text: item.Name});
            });
          
            this.areas = options;
          }, error => {
              console.error(error);
          });

        // load all accomodations
          axios({ method: "GET", "url": "http://localhost:8000/accommodations" }).then(result => {
            console.log(result.data)
              this.accomms = result.data.products;
              this.noAccomm = result.data.numberOfResults
              this.loading = false;
              if (result.data.numberOfResults > 0) {
                let pages = [];
                for (let i = 1; i <= result.data.numberOfResults/12; i++) {
                    pages.push(i);
                }
                this.pagination = pages
              }
          }, error => {
              console.error(error);
          });
        },
        reset() {
          this.regions = []
          this.areas = []
          this.accomms = []
          this.selectedRegion = null
          this.selectedArea = null
          this.noAccomm =0
          this.loading = true
          this.pagination = []
          this.selectedPage= 1
          this.loadData()
        }


    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.card-body h4 {
  height: 58px !important;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}
.lds-ripple div {
  position: absolute;
  border: 8px solid #dfc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2px;
    left: -2px;
    width: 116px;
    height: 116px;
    opacity: 0;
  }
}


</style>
